<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'side'" opened>
    <mat-expansion-panel class="panel-content-type" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>interests</mat-icon> Content Type
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        <mat-radio-group [formControl]="contentType">
          <mat-radio-button>
            <mat-icon fontSet="material-icons">emergency</mat-icon>All
            @if (search.overallTotalCount$ | async; as count) {
              <small
                >{{ count.isEstimate ? "~" : ""
                }}{{ count.count | number }}</small
              >
            }
          </mat-radio-button>
          @for (
            t of search.contentTypes | keyvalue: originalOrder;
            track t.key
          ) {
            @if (search.availableContentTypes.has(t.key)) {
              <mat-radio-button [value]="t.key">
                <mat-icon>{{ t.value.icon }}</mat-icon>
                {{ t.value.plural }}
                @if (search.contentTypeCount(t.key) | async; as agg) {
                  <small
                    >{{ agg.isEstimate ? "~" : ""
                    }}{{ agg.count | number }}</small
                  >
                }
              </mat-radio-button>
            }
          }
        </mat-radio-group>
      </section>
    </mat-expansion-panel>
    @for (facet of search.facets; track facet.name) {
      <ng-container>
        @if (facet.isRelevant(contentType.value)) {
          <mat-expansion-panel
            [expanded]="facet.isActive()"
            (opened)="facet.activate(); loadResult()"
            (closed)="facet.deactivateAndReset(); loadResult()"
          >
            <mat-expansion-panel-header>
              <mat-panel-title
                ><mat-icon>{{ facet.icon }}</mat-icon>
                {{ facet.name }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            <section [class]="facet.isEmpty() ? 'empty' : 'active'">
              <!-- Using ngFor because the new for control flow causes issues with these checkboxes! -->
              <mat-checkbox
                *ngFor="let agg of facet.aggregations"
                [checked]="facet.isEmpty() || facet.isSelected(agg.value)"
                [color]="'accent'"
                (change)="
                  $event.checked || facet.isEmpty()
                    ? facet.select(agg.value)
                    : facet.deselect(agg.value);
                  loadResult()
                "
                [style.display]="'block'"
              >
                {{ agg.label }}
                <small
                  >{{ agg.isEstimate ? "~" : ""
                  }}{{ agg.count | number }}</small
                >
              </mat-checkbox>
              @if (!(search.loading$ | async) && !facet.aggregations.length) {
                <span class="empty">No aggregation results</span>
              }
            </section>
          </mat-expansion-panel>
        }
      </ng-container>
    }
  </mat-drawer>
  <mat-drawer-content [style.z-index]="100" [style.overflow]="'visible'">
    <div class="results">
      <div class="search-form">
        <mat-icon
          fontSet="material-icons"
          [class]="'toggle-drawer ' + (drawer.opened ? 'opened' : 'closed')"
          (click)="drawer.toggle()"
          >{{
            drawer.opened ? "arrow_circle_left" : "arrow_circle_right"
          }}</mat-icon
        >
        <mat-form-field class="field-search-query">
          <input
            matInput
            placeholder="Search"
            [formControl]="queryString"
            (blur)="
              search.setQueryString(queryString.value ?? '');
              search.firstPage();
              search.loadResult()
            "
            (keyup.enter)="
              search.setQueryString(queryString.value ?? '');
              search.firstPage();
              search.loadResult()
            "
          />
          @if (queryString.value) {
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="
                queryString.reset();
                search.setQueryString('');
                search.firstPage();
                search.loadResult()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <div class="button-refresh">
          <button
            mat-mini-fab
            matTooltip="Refresh results"
            color="primary"
            (click)="loadResult(false)"
          >
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <mat-tab-group
        animationDuration="0"
        class="tab-group-bulk-actions"
        [selectedIndex]="selectedTabIndex"
        (focusChange)="selectTab($event.index == 3 ? 0 : $event.index)"
        [mat-stretch-tabs]="false"
      >
        <mat-tab
          [aria-labelledby]="'hidden'"
          class="bulk-tab-placeholder"
        ></mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>sell</mat-icon>
            Edit tags
          </ng-template>

          <ng-template matTabContent>
            <mat-card>
              <mat-form-field class="form-edit-tags">
                <mat-chip-grid #chipGrid aria-label="Enter tags">
                  @for (tagName of editedTags; let j = $index; track tagName) {
                    <mat-chip-row
                      [editable]="true"
                      (edited)="renameTag(tagName, $event.value)"
                      (removed)="deleteTag(tagName)"
                      [aria-description]="'press enter to edit'"
                    >
                      {{ tagName }}
                      <button
                        matChipRemove
                        [attr.aria-label]="'remove ' + tagName"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                </mat-chip-grid>
                <input
                  placeholder="Tag..."
                  [formControl]="newTagCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="$event.value && addTag($event.value)"
                  [value]="newTagCtrl.value"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="addTag($event.option.viewValue)"
                >
                  @for (tagName of suggestedTags; track tagName) {
                    <mat-option [value]="tagName">{{ tagName }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
              <mat-card-actions class="button-row">
                <button
                  mat-stroked-button
                  color="primary"
                  [disabled]="!selectedItems.hasValue()"
                  (click)="setTags()"
                  matTooltip="Replace tags of the selected torrents"
                >
                  Set tags
                </button>
                <button
                  mat-stroked-button
                  color="primary"
                  [disabled]="
                    !selectedItems.hasValue() ||
                    (!editedTags.length && !newTagCtrl.value)
                  "
                  (click)="putTags()"
                  matTooltip="Add tags to the selected torrents"
                >
                  Put tags
                </button>
                <button
                  mat-stroked-button
                  color="primary"
                  [disabled]="
                    !selectedItems.hasValue() ||
                    (!editedTags.length && !newTagCtrl.value)
                  "
                  (click)="deleteTags()"
                  matTooltip="Remove tags from the selected torrents"
                >
                  Delete tags
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>delete_forever</mat-icon>
            Delete
          </ng-template>

          <ng-template matTabContent>
            <mat-card>
              <mat-card-content>
                <p>
                  <strong
                    >Are you sure you want to delete the selected
                    torrents?</strong
                  >
                  <br />This action cannot be undone.
                </p>
              </mat-card-content>
              <mat-card-actions class="button-row">
                <button
                  mat-stroked-button
                  color="warn"
                  [disabled]="!selectedItems.hasValue()"
                  (click)="deleteTorrents(selectedInfoHashes())"
                >
                  <mat-icon>delete_forever</mat-icon>Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </mat-tab>
        @if (selectedTabIndex > 0) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon style="margin-right: 0">close</mat-icon>
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>

      <mat-divider></mat-divider>

      <div class="progress-bar-container" style="height: 10px">
        @if (search.loading$ | async) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
      </div>
      <table
        mat-table
        [dataSource]="search"
        [multiTemplateDataRows]="true"
        class="table-results"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="toggleAllRows()"
              [checked]="selectedItems.hasValue() && isAllSelected()"
              [indeterminate]="selectedItems.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selectedItems.toggle(row) : null"
              [checked]="selectedItems.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef>Summary</th>
          <td
            mat-cell
            *matCellDef="let i"
            (click)="toggleTorrentContentId(i.id); $event.stopPropagation()"
          >
            <mat-icon
              [attr.title]="
                search.contentTypeInfo(i.contentType)?.singular ?? 'Unknown'
              "
              >{{
                search.contentTypeInfo(i.contentType)?.icon ?? "question_mark"
              }}</mat-icon
            >
            <span class="title">{{ item(i).title }}</span>
            <mat-chip-set>
              @for (tagName of item(i).torrent.tagNames; track tagName) {
                <mat-chip class="chip-primary">
                  {{ tagName }}
                </mat-chip>
              }
              @if (item(i).languages; as languages) {
                <mat-chip>
                  @for (l of languages; let j = $index; track l.id) {
                    <ng-container>
                      {{ j > 0 ? ", " : "" }}{{ l.name }}
                    </ng-container>
                  }
                </mat-chip>
              }
              @if (item(i).video3d?.slice(1); as video3d) {
                <mat-chip>{{ video3d }}</mat-chip>
              }
              @if (item(i).videoResolution?.slice(1); as videoResolution) {
                <mat-chip>{{ videoResolution }}</mat-chip>
              }
              @if (item(i).videoSource; as videoSource) {
                <mat-chip>{{ videoSource }}</mat-chip>
              }
              @if (item(i).videoCodec; as videoCodec) {
                <mat-chip>{{ videoCodec }}</mat-chip>
              }
              @if (item(i).videoModifier; as videoModifier) {
                <mat-chip>{{ videoModifier }}</mat-chip>
              }
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>Size</th>
          <td mat-cell *matCellDef="let i">
            {{ item(i).torrent.size | filesize }}
          </td>
        </ng-container>

        <ng-container matColumnDef="publishedAt">
          <th mat-header-cell *matHeaderCellDef>Published</th>
          <td mat-cell *matCellDef="let i">
            <abbr title="{{item(i).publishedAt}}">
              {{ item(i).publishedAt | humanTime }}
            </abbr>
          </td>
        </ng-container>

        <ng-container matColumnDef="peers">
          <th mat-header-cell *matHeaderCellDef>
            <abbr matTooltip="Seeders / Leechers">S / L</abbr>
          </th>
          <td mat-cell *matCellDef="let i">
            {{ item(i).seeders ?? "?" }} /
            {{ item(i).leechers ?? "?" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="magnet">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Magnet
          </th>
          <td mat-cell *matCellDef="let i">
            <a href="{{ item(i).torrent.magnetUri }}"
              ><mat-icon svgIcon="magnet"></mat-icon
            ></a>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let i"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="item-detail"
              [@detailExpand]="
                expandedTorrentContentId === i.id ? 'expanded' : 'collapsed'
              "
            >
              <app-torrent-content
                [torrentContent]="i"
                (updated)="search.loadResult(false)"
                />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let i; columns: displayedColumns"
          [class]="
            'summary-row ' +
            (i.id === expandedTorrentContentId ? 'expanded' : 'collapsed')
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let _; columns: ['expandedDetail']"
          class="expanded-detail-row"
        ></tr>
      </table>
      <span class="spacer"></span>
      @if (search.totalCount$ | async; as totalCount) {
        <app-paginator
          (page)="search.handlePageEvent($event)"
          [pageIndex]="search.pageIndex$ | async"
          [pageSize]="search.pageSize$ | async"
          [pageLength]="search.pageLength$ | async"
          [totalLength]="totalCount.count"
          [totalIsEstimate]="totalCount.isEstimate"
          [hasNextPage]="search.hasNextPage$ | async"
        />
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>
