
@if (
  getAttribute("poster_path", "tmdb");
  as posterPath
  ) {
  <img
    [ngSrc]="'https://image.tmdb.org/t/p/w300/' + posterPath"
    alt="Poster"
    class="poster"
    width="300"
    height="450"
  />
}
<h2>{{ torrentContent.torrent.name }}</h2>
<p>
  <strong>Info hash:</strong>
  <span
    class="info-hash"
    matTooltip="Copy to clipboard"
    [cdkCopyToClipboard]="torrentContent.infoHash"
  >{{ torrentContent.infoHash }}</span
  >
</p>
<p>
  <strong>Source:</strong>&nbsp;
  @for (
      s of torrentContent.torrent.sources;
    let j = $index;
    track s.key
    ) {
    <span>{{ (j > 0 ? ", " : "") + s.name }}</span>
  }
</p>
@if (torrentContent.content) {
  <p><strong>Title:</strong> {{ torrentContent.content.title }}</p>
}
@if (torrentContent.languages?.length) {
  <p>
    <strong>Language:</strong>&nbsp;
    @for (l of torrentContent.languages; let j = $index; track l.id) {
      {{
        (j > 0 ? ", " : "") +
        l.name +
        (l.id === torrentContent.content?.originalLanguage?.id
          ? " (original)"
          : "")
      }}
    }
  </p>
}
@if (torrentContent.content?.releaseYear) {
  <p>
    <strong>Original release date:</strong>
    {{
      torrentContent.content?.releaseDate ?? torrentContent.content?.releaseYear
    }}
  </p>
}
@if (torrentContent.episodes) {
  <p><strong>Episodes:</strong> {{ torrentContent.episodes!.label }}</p>
}
@if (torrentContent.content?.overview) {
  <p>
    {{ torrentContent.content!.overview }}
  </p>
}
@if (getCollections("genre"); as genres) {
  <ng-container>
    <p><strong>Genres:</strong> {{ genres.join(", ") }}</p>
  </ng-container>
}
@if (torrentContent.content?.voteAverage != null) {
  <p>
    <strong>Rating:</strong> {{ torrentContent.content?.voteAverage }} /
    10
    @if (torrentContent.content?.voteCount != null) {
      <ng-container
      >({{ torrentContent.content?.voteCount }} votes)</ng-container
      >
    }
  </p>
}
@if (torrentContent.content?.externalLinks; as externalLinks) {
  <p>
    <strong>External links:</strong>&nbsp;
    @for (
        l of externalLinks;
      let j = $index;
      track l.metadataSource.key
      ) {
      {{ j > 0 ? ", " : ""
      }}<a [href]="l.url" target="_blank">{{
          l.metadataSource.name
        }}</a>
    }
  </p>
}

<mat-divider style="clear: both"></mat-divider>

<mat-tab-group
  animationDuration="0"
  [selectedIndex]="selectedTabIndex"
  (focusChange)="
                 selectTab($event.index == 4 ? 0 : $event.index)
                "
  [mat-stretch-tabs]="false"
>
  <mat-tab [aria-labelledby]="'hidden'"></mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>file_present</mat-icon>
      Files
    </ng-template>

    <ng-template matTabContent>
      <mat-card class="torrent-files">
        @if (torrentContent.torrent.filesStatus === "no_info") {
          <p>No file information available.</p>
        }
        @if (torrentContent.torrent.filesStatus === "single") {
          <p>
            <strong>Single file:</strong> {{ torrentContent.torrent.name
            }}<br />
            @if (torrentContent.torrent.fileType; as ft) {
              <span
              ><strong>File type: </strong>
                {{ ft!.charAt(0).toUpperCase() + ft!.slice(1)
                }}<br
                /></span>
            }
            <strong>File size:</strong>
            {{ torrentContent.torrent.size | filesize }}
          </p>
        }
        @if (torrentContent.torrent.filesStatus === "multi") {
          <p>
            {{ torrentContent.torrent.files?.length | number }} files.
          </p>
        }
        @if (torrentContent.torrent.filesStatus === "over_threshold") {
          <p>
            Showing
            {{ torrentContent.torrent.files?.length | number }} of
            {{
              torrentContent.torrent.filesCount == null
                ? "?"
                : (torrentContent.torrent.filesCount | number)
            }}
            files.
          </p>
        }
        @if (torrentContent.torrent.files?.length) {
          <table>
            <thead>
            <tr>
              <th>Path</th>
              <th>Type</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
              @for (f of torrentContent.torrent.files; track f.path) {
                <tr>
                  <td class="table-torrent-files-td-file">
                    {{ f.path }}
                  </td>
                  <td>
                    {{
                      f.fileType
                        ? f.fileType.charAt(0).toUpperCase() +
                        f.fileType.slice(1)
                        : "Unknown"
                    }}
                  </td>
                  <td class="table-torrent-files-td-size">
                    {{ f.size | filesize }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </mat-card>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>sell</mat-icon>
      Edit tags
    </ng-template>
    <ng-template matTabContent>
      <mat-card>
        <mat-form-field class="form-edit-tags">
          <mat-chip-grid #chipGrid aria-label="Enter tags">
            @for (
                tagName of torrentContent.torrent.tagNames;
              let j = $index;
              track tagName
              ) {
              <mat-chip-row
                [editable]="true"
                (edited)="
                               renameTag(tagName, $event.value)
                              "
                (removed)="deleteTag(tagName)"
                [aria-description]="'press enter to edit'"
              >
                {{ tagName }}
                <button
                  matChipRemove
                  [attr.aria-label]="'remove ' + tagName"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            placeholder="New tag..."
            [formControl]="newTagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="
                            $event.value && addTag($event.value)
                          "
            [value]="newTagCtrl.value"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="
                            addTag($event.option.viewValue)
                          "
          >
            @for (
                tagName of suggestedTags;
              track tagName
              ) {
              <mat-option [value]="tagName">{{
                  tagName
                }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </mat-card>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>delete_forever</mat-icon>
      Delete
    </ng-template>

    <ng-template matTabContent>
      <mat-card>
        <mat-card-content style="margin-top: 10px">
          <p>
            <strong
            >Are you sure you want to delete this
              torrent?</strong
            >
            <br />This action cannot be undone.
          </p>
        </mat-card-content>
        <mat-card-actions class="button-row">
          <button
            mat-stroked-button
            color="warn"
            (click)="delete()"
          >
            <mat-icon>delete_forever</mat-icon>Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </mat-tab>
  @if (selectedTabIndex > 0) {
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0">close</mat-icon>
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>
