h2 {
  margin-top: 10px;
  max-width: 900px;
  word-wrap: break-word;
}

.poster {
  float: right;
  margin: 10px;
  border: 1px solid currentColor;
}

.info-hash {
  padding-left: 5px;
  cursor: crosshair;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.torrent-files {
  padding-top: 10px;
  max-height: 800px;
  overflow: scroll;
  table {
    margin-bottom: 10px;
    width: 800px;
  }
  td {
    padding-right: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  tr:hover td {
    background-color: whitesmoke;
  }
}

.form-edit-tags {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
