@use "@angular/material" as mat;

@mixin theme($theme) {
  .mat-toolbar.toolbar-header {
    background-color: mat.get-theme-color($theme, primary, 40);
    --mat-toolbar-container-text-color: #fff;
    .mdc-button {
      &.active {
        color: mat.get-theme-color($theme, primary, 40);
        background-color:rgba(#fff, 0.8);
        cursor: default;
      }
      &:hover:not(.active) {
        background-color:rgba(#fff, 0.2);
      }
    }
    .mdc-icon-button {
      .mat-icon {
        fill: #fff;
      }
      &:hover {
        background-color:rgba(#fff, 0.2);
      }
    }
  }
}
