.mat-toolbar.toolbar-header {
  position: sticky;
  top: 0;
  z-index: 1;
  --mat-toolbar-title-text-size: 22px;
  --mat-toolbar-standard-height: 56px;
  --mat-icon-color: #fff;
  h1 {
    margin-top: -6px;
    mat-icon {
      //display: inline-block;
      position: relative;
      top: 6px;
      margin-right: 10px;
    }
  }
  .mdc-button {
    margin-left: 10px;
    --mdc-text-button-label-text-weight: bold;
    --mat-text-button-horizontal-padding: 20px;
    --mdc-text-button-container-height: 34px;
  }
  --mdc-text-button-label-text-size: 15px;
  nav {
    margin-left: 40px;
    margin-top: 2px;
  }
  .spacer {
     display: inline-flex;
     flex: 1 1 auto;
   }
}
