@use "sass:map";
@use "@angular/material" as mat;
@import "./app.variables";

.spacer {
  display: inline-flex;
  flex: 1 1 auto;
}

svg .fill {
  fill: mat.get-color-from-palette($primary-palette, 500);
}

// Why do we need to hack away like this to use the core color palettes with the core components?!
::ng-deep .mat-mdc-snack-bar-container.snack-bar-error > div {
  background-color: mat.get-color-from-palette($warn-palette, 500);
  color: #fff;
  .mdc-button__label {
    color: #fff;
  }
}

::ng-deep .button-sponsor.mat-mdc-outlined-button:not(:disabled) {
  margin-right: 10px;
  border-color: #fff;
  &:hover {
    background-color: mat.get-color-from-palette($accent-palette, 500);
  }
}
