.dashboard-card-health {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  h3 {
    margin-top: 0;
    mat-icon {
      position: relative;
      top: 3px;
      margin-left: 4px;
      margin-right: 6px;
    }
  }
}
