<ng-container *transloco="let t">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-toolbar>
        <h2><mat-icon>dashboard</mat-icon>{{ t("routes.dashboard") }}</h2>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="grid-container">
        <mat-grid-list cols="1" rowHeight="500px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-health-card></app-health-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
