<ng-container *transloco="let t">
  <div class="paginator">
    <mat-form-field class="field-items-per-page" subscriptSizing="dynamic">
      <mat-label>Items per page</mat-label>
      <mat-select
        [value]="pageSize"
        (valueChange)="pageSize = $event; page = 1; emitChange()"
      >
        @for (size of pageSizes; track size) {
          <mat-option [value]="size">
            {{ size }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p class="paginator-description">
      @if (hasTotalLength) {
        {{
          t("paginator.x_to_y_of_z", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number),
            z: (totalIsEstimate ? "~" : "") + (totalLength | number)
          })
        }}
      } @else {
        {{
          t("paginator.x_to_y", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number)
          })
        }}
      }
    </p>
    <div class="paginator-navigation">
      <button
        mat-icon-button
        [disabled]="!hasPreviousPage"
        (click)="page = 1; emitChange()"
        [matTooltip]="t('paginator.first_page')"
      >
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!hasPreviousPage"
        (click)="page = page - 1; emitChange()"
        [matTooltip]="t('paginator.previous_page')"
      >
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!actuallyHasNextPage"
        (click)="page = page + 1; emitChange()"
        [matTooltip]="t('paginator.next_page')"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>
      @if (showLastPage) {
        <button
          mat-icon-button
          [disabled]="[null, page].includes(pageCount)"
          (click)="page = pageCount ?? 1; emitChange()"
          [matTooltip]="t('paginator.last_page')"
        >
          <mat-icon>last_page</mat-icon>
        </button>
      }
    </div>
  </div>
</ng-container>
