@use "@angular/material" as mat;
@import "../../app.variables";

.mat-drawer-container {
  min-height: 100%;
}

.mat-drawer.mat-drawer-side {
  width: 300px;
  h4 {
    margin-bottom: 0;
  }
  .panel-content-type {
    mat-radio-button {
      width: 100%;
      display: block;
      ::ng-deep {
        .mdc-radio {
          display: none;
        }
        .mdc-form-field,
        label {
          cursor: pointer;
          display: block;
          height: 40px;
        }
      }
      mat-icon {
        margin-right: 10px;
        position: relative;
        top: 5px;
      }
    }
    ::ng-deep .mat-mdc-radio-checked {
      label {
        color: mat.get-color-from-palette($accent-palette, 500);
      }
    }
  }
  section {
    margin-bottom: 10px;
    mat-checkbox {
      position: relative;
      left: -10px;
    }
    &.empty {
      ::ng-deep .mdc-checkbox__background {
        background-color: lightgray;
        border-color: lightgray;
      }
    }
  }
}

.mat-expansion-panel-header {
  .mat-icon {
    overflow: visible;
    margin-right: 20px;
  }
  white-space: nowrap;
}

.search-form {
  .toggle-drawer {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    left: -10px;
    margin-right: 10px;
    position: relative;
    top: -25px;
    display: inline-block;
  }
  mat-form-field {
    display: inline-block;
    margin-right: 20px;
    &.field-search-query {
      width: 300px;
    }
    &.field-auto-refresh {
      width: 130px;
    }
  }
  .button-refresh {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    padding-top: 10px;
  }
}

.mat-column-select {
  padding-right: 10px;
  width: 30px;
}

.mat-column-summary {
  padding-left: 0;
  button {
    padding-left: 0;
    padding-right: 0;
  }
}

th.mat-column-summary {
  padding-left: 10px;
}

td.mat-column-summary {
  vertical-align: middle;
  cursor: pointer;
  .title {
    display: inline-block;
    line-height: 30px;
    word-wrap: break-word;
    max-width: 900px;
  }
  .mat-icon {
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  mat-chip-set {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -2px;
    margin-bottom: 4px;
    mat-chip {
      margin: 0 10px 0 0;
    }
  }
}

tr.expanded-detail-row {
  height: 0;
}

tr.mat-mdc-row.expanded {
  td.mat-column-summary {
    mat-icon {
      color: mat.get-color-from-palette($accent-palette, 500);
    }
  }
  td {
    border-bottom: 0;
  }
  + .expanded-detail-row {
    > td {
      padding-bottom: 10px;
    }
  }
}

.mat-mdc-row.summary-row {
  &:hover {
    .mat-mdc-cell {
      background-color: whitesmoke;
    }
    + tr.expanded-detail-row {
      background-color: whitesmoke;
    }
  }
}

.mat-column-magnet {
  text-align: center;
  .mat-icon {
    position: relative;
    top: 5px;
  }
}

.item-detail {
  width: 100%;
  overflow: hidden;
  h2 {
    margin-top: 10px;
    max-width: 900px;
    word-wrap: break-word;
  }
  .poster {
    float: right;
    margin: 10px;
    border: 1px solid currentColor;
  }
  .info-hash {
    padding-left: 5px;
    cursor: crosshair;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

::ng-deep .mdc-tab__text-label {
  mat-icon {
    margin-right: 10px;
  }
}

::ng-deep div[aria-labelledby="hidden"] {
  display: none;
}

.results {
  padding-top: 20px;
}

.form-edit-tags {
  width: 100%;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).chip-primary {
  background-color: mat.get-color-from-palette($primary-palette, 100);
  .mat-mdc-standard-chip:not(
      .mdc-evolution-chip--disabled
    ).mdc-evolution-chip__text-label {
    color: #fff;
  }
}

.torrent-files {
  padding-top: 10px;
  max-height: 800px;
  overflow: scroll;
  table {
    margin-bottom: 10px;
    width: 800px;
  }
  td {
    padding-right: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  tr:hover td {
    background-color: whitesmoke;
  }
}

.button-row {
  .mat-mdc-button-base {
    margin-left: 8px;
  }
}

.form-edit-tags {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
