<ng-container *transloco="let t">
  <mat-card>
    <mat-card-content>
      <mat-grid-list
        [cols]="
          breakpoints.sizeAtLeast('Large')
            ? 5
            : breakpoints.sizeAtLeast('Medium')
              ? 3
              : breakpoints.sizeAtLeast('Small')
                ? 2
                : 1
        "
        rowHeight="100px"
      >
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card class="form-timeframe">
            <mat-card-header>
              <mat-card-title
                ><h4>{{ t("dashboard.metrics.timeframe") }}</h4></mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <mat-form-field subscriptSizing="dynamic">
                <mat-select
                  [value]="torrentMetricsController.params.buckets.timeframe"
                  (valueChange)="torrentMetricsController.setTimeframe($event)"
                >
                  @for (name of timeframeNames; track name) {
                    <mat-option [value]="name">{{
                      t("dashboard.interval." + name)
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="paginator actions">
                <button
                  mat-icon-button
                  [disabled]="
                    timeframeNames.indexOf(
                      torrentMetricsController.params.buckets.timeframe
                    ) <= 0
                  "
                  (click)="
                    torrentMetricsController.setTimeframe(timeframeNames[0])
                  "
                >
                  <mat-icon>first_page</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    timeframeNames.indexOf(
                      torrentMetricsController.params.buckets.timeframe
                    ) <= 0
                  "
                  (click)="
                    torrentMetricsController.setTimeframe(
                      timeframeNames[
                        timeframeNames.indexOf(
                          torrentMetricsController.params.buckets.timeframe
                        ) - 1
                      ]
                    )
                  "
                >
                  <mat-icon>navigate_before</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    timeframeNames.indexOf(
                      torrentMetricsController.params.buckets.timeframe
                    ) >=
                    timeframeNames.length - 1
                  "
                  (click)="
                    torrentMetricsController.setTimeframe(
                      timeframeNames[
                        timeframeNames.indexOf(
                          torrentMetricsController.params.buckets.timeframe
                        ) + 1
                      ]
                    )
                  "
                >
                  <mat-icon>navigate_next</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    timeframeNames.indexOf(
                      torrentMetricsController.params.buckets.timeframe
                    ) >=
                    timeframeNames.length - 1
                  "
                  (click)="
                    torrentMetricsController.setTimeframe(
                      timeframeNames[timeframeNames.length - 1]
                    )
                  "
                >
                  <mat-icon>last_page</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card class="form-resolution">
            <mat-card-header>
              <mat-card-title
                ><h4>
                  {{ t("dashboard.metrics.resolution") }}
                </h4></mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <mat-form-field
                subscriptSizing="dynamic"
                class="form-input-multiplier"
              >
                <input
                  type="number"
                  matInput
                  min="1"
                  step="1"
                  [placeholder]="
                    (
                      torrentMetricsController.result$ | async
                    )?.params?.buckets?.multiplier?.toString() ?? ''
                  "
                  [value]="torrentMetricsController.params.buckets.multiplier"
                  (change)="handleMultiplierEvent($event)"
                />
              </mat-form-field>
              <mat-form-field
                subscriptSizing="dynamic"
                class="form-select-duration"
              >
                <mat-select
                  [value]="torrentMetricsController.bucketDuration"
                  (valueChange)="
                    torrentMetricsController.setBucketDuration($event)
                  "
                >
                  @for (name of resolutionNames; track name) {
                    <mat-option [value]="name">{{
                      t("dashboard.interval." + name + "s")
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="paginator actions">
                <button
                  mat-icon-button
                  [disabled]="torrentMetricsController.bucketMultiplier === 1"
                  (click)="
                    torrentMetricsController.setBucketMultiplier(
                      torrentMetricsController.bucketMultiplier - 1
                    )
                  "
                >
                  <mat-icon>remove</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="
                    torrentMetricsController.setBucketMultiplier(
                      torrentMetricsController.bucketMultiplier + 1
                    )
                  "
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    resolutionNames.indexOf(
                      torrentMetricsController.bucketDuration
                    ) <= 0
                  "
                  (click)="
                    torrentMetricsController.setBucketDuration(
                      resolutionNames[0]
                    )
                  "
                >
                  <mat-icon>first_page</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    resolutionNames.indexOf(
                      torrentMetricsController.bucketDuration
                    ) <= 0
                  "
                  (click)="
                    torrentMetricsController.setBucketDuration(
                      resolutionNames[
                        resolutionNames.indexOf(
                          torrentMetricsController.bucketDuration
                        ) - 1
                      ]
                    )
                  "
                >
                  <mat-icon>navigate_before</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    resolutionNames.indexOf(
                      torrentMetricsController.bucketDuration
                    ) >=
                    resolutionNames.length - 1
                  "
                  (click)="
                    torrentMetricsController.setBucketDuration(
                      resolutionNames[
                        resolutionNames.indexOf(
                          torrentMetricsController.bucketDuration
                        ) + 1
                      ]
                    )
                  "
                >
                  <mat-icon>navigate_next</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [disabled]="
                    resolutionNames.indexOf(
                      torrentMetricsController.bucketDuration
                    ) >=
                    resolutionNames.length - 1
                  "
                  (click)="
                    torrentMetricsController.setBucketDuration(
                      resolutionNames[resolutionNames.length - 1]
                    )
                  "
                >
                  <mat-icon>last_page</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>{{ t("torrents.source") }}</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field subscriptSizing="dynamic">
                <mat-select
                  [value]="torrentMetricsController.params.source ?? '_all'"
                  (valueChange)="
                    torrentMetricsController.setSource(
                      $event === '_all' ? null : $event
                    )
                  "
                >
                  <mat-option value="_all">All</mat-option>
                  @for (
                    source of (torrentMetricsController.result$ | async)
                      ?.availableSources;
                    track source.key
                  ) {
                    <mat-option [value]="source.key">{{
                      source.name
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="actions">
                <button
                  mat-icon-button
                  [matTooltip]="'all'"
                  [class]="
                    torrentMetricsController.params.source
                      ? 'deselected'
                      : 'selected'
                  "
                  (click)="torrentMetricsController.setSource(null)"
                >
                  <mat-icon fontSet="material-icons">workspaces</mat-icon>
                </button>
                @for (source of ["dht"]; track source) {
                  <button
                    mat-icon-button
                    [class]="
                      torrentMetricsController.params.source === source
                        ? 'selected'
                        : 'deselected'
                    "
                    [matTooltip]="source"
                    (click)="
                      torrentMetricsController.params.source === source ||
                        torrentMetricsController.setSource(source)
                    "
                  >
                    <mat-icon>{{
                      torrentMetricsController.params.source === source
                        ? "radio_button_checked"
                        : "radio_button_unchecked"
                    }}</mat-icon>
                  </button>
                }
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>{{ t("dashboard.metrics.event") }}</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field subscriptSizing="dynamic">
                <mat-select
                  [value]="torrentMetricsController.params.event ?? '_all'"
                  (valueChange)="
                    torrentMetricsController.setEvent(
                      $event === '_all' ? null : $event
                    )
                  "
                >
                  <mat-option value="_all">All</mat-option>
                  @for (event of eventNames; track event) {
                    <mat-option [value]="event">{{
                      t("dashboard.event." + event)
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="actions">
                <button
                  mat-icon-button
                  [matTooltip]="'all'"
                  [class]="
                    !torrentMetricsController.params.event
                      ? 'selected'
                      : 'deselected'
                  "
                  (click)="torrentMetricsController.setEvent(null)"
                >
                  <mat-icon fontSet="material-icons"
                    >radio_button_checked</mat-icon
                  >
                </button>
                <button
                  mat-icon-button
                  [matTooltip]="'created'"
                  [class]="
                    torrentMetricsController.params.event === 'created'
                      ? 'selected'
                      : 'deselected'
                  "
                  (click)="
                    torrentMetricsController.params.event === 'created' ||
                      torrentMetricsController.setEvent('created')
                  "
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [matTooltip]="'updated'"
                  [class]="
                    torrentMetricsController.params.event === 'updated'
                      ? 'selected'
                      : 'deselected'
                  "
                  (click)="
                    torrentMetricsController.params.event === 'updated' ||
                      torrentMetricsController.setEvent('updated')
                  "
                >
                  <mat-icon>check_circle</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-card class="form-refresh">
            <mat-card-header>
              <mat-card-title>
                <h4>{{ t("general.refresh") }}</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field subscriptSizing="dynamic">
                <mat-select
                  [value]="torrentMetricsController.params.autoRefresh"
                  (valueChange)="
                    torrentMetricsController.setAutoRefreshInterval($event)
                  "
                >
                  @for (name of autoRefreshIntervalNames; track name) {
                    <mat-option [value]="name">{{
                      t("dashboard.interval." + name)
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="actions">
                <button
                  mat-icon-button
                  [matTooltip]="'Refresh'"
                  (click)="torrentMetricsController.refresh()"
                >
                  <mat-icon>sync</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="progress-bar-container">
        <mat-progress-bar
          [mode]="
            torrentMetricsController.loading ? 'indeterminate' : 'determinate'
          "
          [value]="0"
        ></mat-progress-bar>
      </div>
      <mat-grid-list
        [cols]="breakpoints.sizeAtLeast('Large') ? 2 : 1"
        rowHeight="100px"
      >
        <mat-grid-tile [colspan]="1" [rowspan]="6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h4>{{ t("dashboard.metrics.throughput") }}</h4>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-chart
                [adapter]="timeline"
                [$data]="torrentMetricsController.result$"
                [height]="400"
                [width]="550"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="5"> </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</ng-container>
