<ng-container *transloco="let t">
  <mat-tab-group
    animationDuration="0"
    class="tab-group-bulk-actions"
    [selectedIndex]="selectedTabIndex"
    (focusChange)="selectTab($event.index == 4 ? 0 : $event.index)"
    [mat-stretch-tabs]="false"
  >
    <mat-tab
      [aria-labelledby]="'hidden'"
      class="bulk-tab-placeholder"
    ></mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>content_copy</mat-icon>
        @if (breakpoints.sizeAtLeast("Medium")) {
          <span class="label">{{ t("torrents.copy") }}</span>
        }
      </ng-template>

      <ng-template matTabContent>
        <mat-card>
          <mat-card-actions class="button-row">
            <button
              mat-stroked-button
              [disabled]="!selectedItems.length"
              [cdkCopyToClipboard]="getSelectedMagnetLinks()"
            >
              <mat-icon svgIcon="magnet" />{{ t("torrents.magnet_links") }}
            </button>
            <button
              mat-stroked-button
              [disabled]="!selectedItems.length"
              [cdkCopyToClipboard]="getSelectedInfoHashes()"
            >
              <mat-icon>tag</mat-icon>{{ t("torrents.info_hashes") }}
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>sell</mat-icon>
        @if (breakpoints.sizeAtLeast("Medium")) {
          <span class="label">{{ t("torrents.edit_tags") }}</span>
        }
      </ng-template>

      <ng-template matTabContent>
        <mat-card>
          <mat-form-field class="form-edit-tags" subscriptSizing="dynamic">
            <mat-chip-grid #chipGrid aria-label="Enter tags">
              @for (tagName of editedTags; let j = $index; track tagName) {
                <mat-chip-row
                  [editable]="true"
                  (edited)="renameTag(tagName, $event.value)"
                  (removed)="deleteTag(tagName)"
                  [aria-description]="'press enter to edit'"
                >
                  {{ tagName }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              placeholder="{{ t('torrents.tags.placeholder') }}"
              [formControl]="newTagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="$event.value && addTag($event.value)"
              [value]="newTagCtrl.value"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="addTag($event.option.viewValue)"
            >
              @for (tagName of suggestedTags; track tagName) {
                <mat-option [value]="tagName">{{ tagName }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <mat-card-actions class="button-row">
            <button
              mat-stroked-button
              color="primary"
              [disabled]="!selectedItems.length"
              (click)="setTags()"
              matTooltip="{{ t('torrents.tags.set_tip') }}"
            >
              {{ t("torrents.tags.set") }}
            </button>
            <button
              mat-stroked-button
              color="primary"
              [disabled]="
                !selectedItems.length ||
                (!editedTags.length && !newTagCtrl.value)
              "
              (click)="putTags()"
              matTooltip="{{ t('torrents.tags.put_tip') }}"
            >
              {{ t("torrents.tags.put") }}
            </button>
            <button
              mat-stroked-button
              color="primary"
              [disabled]="
                !selectedItems.length ||
                (!editedTags.length && !newTagCtrl.value)
              "
              (click)="deleteTags()"
              matTooltip="{{ t('torrents.tags.delete_tip') }}"
            >
              {{ t("torrents.tags.delete") }}
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>delete_forever</mat-icon>
        @if (breakpoints.sizeAtLeast("Medium")) {
          <span class="label">{{ t("torrents.delete") }}</span>
        }
      </ng-template>

      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <p>
              <strong>{{ t("torrents.delete_are_you_sure") }}</strong>
              <br />{{ t("torrents.delete_action_cannot_be_undone") }}.
            </p>
          </mat-card-content>
          <mat-card-actions class="button-row">
            <button
              mat-stroked-button
              color="warn"
              [disabled]="!selectedItems.length"
              (click)="deleteTorrents()"
            >
              <mat-icon>delete_forever</mat-icon>{{ t("torrents.delete") }}
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-tab>
    @if (selectedTabIndex > 0) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 0">close</mat-icon>
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
</ng-container>
