<ng-container *transloco="let t">
  <div class="progress-bar-container">
    <mat-progress-bar
      [mode]="(dataSource.loading$ | async) ? 'indeterminate' : 'determinate'"
      [value]="0"
    ></mat-progress-bar>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    [multiTemplateDataRows]="true"
    class="table-torrents"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleAllRows()"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [matTooltip]="
            isAllSelected()
              ? t('torrents.deselect_all')
              : t('torrents.select_all')
          "
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let i">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(item(i).infoHash) : null"
          [checked]="selection.isSelected(item(i).infoHash)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef>{{ t("torrents.summary") }}</th>
      <td
        mat-cell
        *matCellDef="let i"
        (click)="toggleTorrentContentId(i.id); $event.stopPropagation()"
      >
        <mat-icon
          [matTooltip]="
            t('content_types.singular.' + (item(i).contentType ?? 'null'))
          "
          >{{
            contentTypeInfo(item(i).contentType)?.icon ?? "question_mark"
          }}</mat-icon
        >
        <span class="title">{{ item(i).title }}</span>
        @if (item(i).title !== item(i).torrent.name) {
          <p class="original-name">{{ item(i).torrent.name }}</p>
        }
        <app-torrent-chips [torrentContent]="i" />
      </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>{{ t("torrents.size") }}</th>
      <td mat-cell *matCellDef="let i">
        <span
          class="filesize"
          [matTooltip]="item(i).torrent.size | filesize: 10"
          >{{ item(i).torrent.size | filesize }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="publishedAt">
      <th mat-header-cell *matHeaderCellDef>{{ t("torrents.published") }}</th>
      <td class="td-published-at" mat-cell *matCellDef="let i">
        <abbr
          matTooltip="{{ item(i).publishedAt }}"
          matTooltipClass="tooltip-published-at"
        >
          {{ item(i).publishedAt | timeAgo }}
        </abbr>
      </td>
    </ng-container>

    <ng-container matColumnDef="peers">
      <th mat-header-cell *matHeaderCellDef>
        <abbr
          [matTooltip]="t('torrents.seeders') + ' / ' + t('torrents.leechers')"
          >{{ t("torrents.s_l") }}</abbr
        >
      </th>
      <td mat-cell *matCellDef="let i">
        {{ item(i).seeders ?? "?" }} /
        {{ item(i).leechers ?? "?" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="magnet">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        {{ t("torrents.magnet") }}
      </th>
      <td mat-cell *matCellDef="let i">
        <a href="{{ item(i).torrent.magnetUri }}"
          ><mat-icon svgIcon="magnet"></mat-icon
        ></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let i" [attr.colspan]="displayedColumns.length">
        <div
          class="item-detail"
          [@detailExpand]="
            expandedId.getValue() === i.id ? 'expanded' : 'collapsed'
          "
        >
          <app-torrent-content
            [torrentContent]="i"
            [size]="false"
            [published]="breakpoints.sizeAtLeast('Medium')"
            [peers]="breakpoints.sizeAtLeast('Medium')"
            (updated)="updated.emit(item(i).infoHash)"
          />
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let i; columns: displayedColumns"
      [class]="
        'summary-row ' +
        (i.id === expandedId.getValue() ? 'expanded' : 'collapsed')
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="let _; columns: ['expandedDetail']"
      class="expanded-detail-row"
    ></tr>
  </table>
</ng-container>
