h2 {
  margin-top: 10px;
  max-width: 900px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

.poster {
  float: right;
  margin: 10px;
  border: 1px solid currentColor;
}

.info-hash {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  span {
    padding-left: 5px;
    cursor: crosshair;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.torrent-files {
  padding-top: 10px;
  max-height: 800px;
  overflow: scroll;
  table {
    margin-bottom: 10px;
    width: 800px;
  }
  td {
    padding-right: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  tr:hover td {
    background-color: whitesmoke;
  }
}

.form-edit-tags {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.files-count {
  margin-left: 4px;
}

.mat-mdc-card-content {
  p {
    margin-top: 0;
  }
}

span.filesize {
  text-decoration: underline;
  text-decoration-style: dotted;
}

::ng-deep .mdc-tab {
  &[aria-labelledby="hidden"] {
    display: none;
  }
  &[role="tab"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .label,
  .files-count {
    margin-left: 8px;
  }
}
