.progress-bar-container {
  height: 10px;
}

tr.expanded-detail-row td {
  border-bottom-width: 0;
}

tr.expanded + tr.expanded-detail-row td {
  border-bottom-width: 1px;
}

th,
td {
  &.cdk-column-select {
    padding-right: 0;
  }
}

td.mat-column-summary {
  vertical-align: middle;
  cursor: pointer;
  white-space: pre-wrap;
  padding-top: 8px;
  padding-bottom: 8px;
  .title {
    line-height: 30px;
    overflow: hidden;
    margin-right: 20px;
    font-weight: bold;
  }
  .original-name {
    margin: 2px 0 8px 34px;
  }
  .title,
  .original-name {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  > .mat-icon {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
  }
  mat-chip-set {
    display: inline-block;
    margin-left: 10px;
    mat-chip {
      margin: 2px 10px 2px 0;
    }
  }
}

tr.expanded-detail-row {
  height: 0;
}

tr.mat-mdc-row.expanded {
  td {
    border-bottom: 0;
  }
  + .expanded-detail-row {
    > td {
      padding-bottom: 10px;
    }
  }
}

.mat-column-magnet {
  text-align: center;
  .mat-icon {
    position: relative;
    top: 3px;
  }
}

.item-detail {
  width: 100%;
  overflow: hidden;
}

.td-published-at abbr {
  cursor: default;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.cdk-column-peers {
  white-space: nowrap;
}

span.filesize {
  text-decoration: underline;
  text-decoration-style: dotted;
}
