<ng-container *transloco="let t">
  <mat-card>
    <mat-form-field class="form-edit-tags" subscriptSizing="dynamic">
      <mat-chip-grid #chipGrid>
        @for (tagName of editedTags; let j = $index; track tagName) {
          <mat-chip-row
            [editable]="true"
            (edited)="renameTag(tagName, $event.value)"
            (removed)="deleteTag(tagName)"
          >
            {{ tagName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        [placeholder]="t('torrents.new_tag')"
        [formControl]="newTagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="$event.value && addTag($event.value)"
        [value]="newTagCtrl.value"
        autocapitalize="none"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="addTag($event.option.viewValue)"
      >
        @for (tagName of suggestedTags; track tagName) {
          <mat-option [value]="tagName">{{ tagName }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
</ng-container>
