<mat-drawer-container class="drawer-container">
  <mat-drawer
    #drawer
    class="drawer"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-expansion-panel
      class="panel-content-type"
      [expanded]="true"
    >
      <mat-expansion-panel-header
        collapsedHeight="40px"
        expandedHeight="40px"
      >
        <mat-panel-title>
          <mat-icon>interests</mat-icon> Content Type
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        <nav>
          <ul>
          <li
            (click)="controller.selectContentType(null)"
            [class]="(controller.controls$ | async)?.contentType === null ? 'active' : ''"
          >
            <mat-icon fontSet="material-icons">emergency</mat-icon>All
            @if (dataSource.overallTotalCount$ | async; as count) {
              <small
              >{{ count.isEstimate ? "~" : ""
                }}{{ count.count | number }}</small
              >
            }
          </li>
          @for (
              t of contentTypes;
            track t.key
            ) {
            @if (t.key === "null" || (dataSource.availableContentTypes$ | async)?.includes(t.key)) {
              <li
                (click)="controller.selectContentType(t.key)"
                [class]="(controller.controls$ | async)?.contentType === t.key ? 'active' : ''"
              >
                <mat-icon>{{ t.icon }}</mat-icon>
                {{ t.plural }}
                @if ((dataSource.contentTypeCounts$ | async)?.[t.key]; as agg) {
                  <small
                  >{{ agg.isEstimate ? "~" : ""
                    }}{{ agg.count | number }}</small
                  >
                }
              </li>
            }
          }
          </ul>
        </nav>
      </section>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
    <!--      @if (isHandset$ | async) {-->
    <button
      type="button"
      aria-label="Toggle drawer"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon" fontSet="material-icons">{{
        drawer.opened ? "arrow_circle_left" : "arrow_circle_right"
      }}</mat-icon>
    </button>
    <!--      }-->
        <app-torrents-table
          [dataSource]="dataSource" />
    <app-paginator
      (paging)="controller.handlePageEvent($event)"
      [page]="(controller.controls$ | async)?.page"
      [pageSize]="(controller.controls$ | async)?.limit"
      [pageLength]="dataSource.result.items.length"
      [totalLength]="dataSource.result.totalCount"
      [totalIsEstimate]="dataSource.result.totalCountIsEstimate"
      [hasNextPage]="dataSource.result.hasNextPage"
    />
  </mat-drawer-content>
</mat-drawer-container>
