<mat-drawer-container class="drawer-container">
  <mat-drawer
    #drawer
    class="drawer"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-expansion-panel class="panel-content-type" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>interests</mat-icon> Content Type
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        <nav>
          <ul>
          <li>
            <a>
            <mat-icon fontSet="material-icons">emergency</mat-icon>All
            @if (dataSource.overallTotalCount$ | async; as count) {
              <small
              >{{ count.isEstimate ? "~" : ""
                }}{{ count.count | number }}</small
              >
            }
            </a>
          </li>
          @for (
              t of contentTypes | keyvalue: originalOrder;
            track t.key
            ) {
            @if ((dataSource.availableContentTypes$ | async)?.includes(t.key)) {
              <li><a>
                <mat-icon>{{ t.value.icon }}</mat-icon>
                {{ t.value.plural }}
                @if ((dataSource.contentTypeCounts$ | async)?.[t.key]; as agg) {
                  <small
                  >{{ agg.isEstimate ? "~" : ""
                    }}{{ agg.count | number }}</small
                  >
                }
              </a></li>
            }
          }
          </ul>
        </nav>
      </section>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
    <!--      @if (isHandset$ | async) {-->
    <button
      type="button"
      aria-label="Toggle drawer"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon" fontSet="material-icons">{{
        drawer.opened ? "arrow_circle_left" : "arrow_circle_right"
      }}</mat-icon>
    </button>
    <!--      }-->
        <app-torrents-table
          [dataSource]="dataSource" />
    <app-paginator
      (paging)="controller.handlePageEvent($event)"
      [page]="controller.params.query?.page"
      [pageSize]="controller.params.query?.limit"
      [pageLength]="dataSource.result.items.length"
      [totalLength]="dataSource.result.totalCount"
      [totalIsEstimate]="dataSource.result.totalCountIsEstimate"
      [hasNextPage]="dataSource.result.hasNextPage"
    />
  </mat-drawer-content>
</mat-drawer-container>
