<ng-container *transloco="let t">
  <mat-card>
    <h2 mat-dialog-title>Enqueue Torrent Processing Batch</h2>
    <mat-dialog-content>
      @if (stage === "PENDING") {
        <section>
          <h4>Options:</h4>
          <mat-checkbox
            [checked]="!apisDisabled"
            (change)="localSearchDisabled = !$event.checked; apisDisabled = localSearchDisabled ? true : apisDisabled"
          >Match content by local search</mat-checkbox>
          <mat-checkbox
            [checked]="!apisDisabled"
            (change)="apisDisabled = !$event.checked; localSearchDisabled = apisDisabled ? localSearchDisabled : true"
          >Match content by external API search</mat-checkbox>
          <mat-checkbox
            [checked]="classifierRematch"
            (change)="classifierRematch = $event.checked"
          >Force rematch of already matched content</mat-checkbox>
          <mat-checkbox
            [checked]="orphans"
            (change)="orphans = $event.checked"
          >Process orphaned torrents only</mat-checkbox>
        </section>
      } @else if (stage === "REQUESTING") {
        <mat-spinner></mat-spinner>
      } @else if (stage === "DONE") {
        <p>Jobs Enqueued</p>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-stroked-button [disabled]="stage !== 'PENDING'" color="warning" (click)="handleEnqueue()">Enqueue Jobs</button>
      <button mat-stroked-button (click)="dialogRef.close()">Close</button>
    </mat-dialog-actions>
  </mat-card>
</ng-container>
