<ng-container *transloco="let t">
  <mat-card>
    <h2 mat-dialog-title>
      {{ t("dashboard.queues.enqueue_torrent_processing_batch") }}
    </h2>
    <mat-dialog-content>
      @if (stage === "PENDING") {
        <section>
          <mat-checkbox [checked]="purge" (change)="purge = $event.checked">{{
            t("dashboard.queues.purge_queue_jobs")
          }}</mat-checkbox
          ><br />
          <mat-checkbox
            [checked]="!localSearchDisabled"
            (change)="localSearchDisabled = !$event.checked"
            >{{
              t("dashboard.queues.match_content_by_local_search")
            }}</mat-checkbox
          ><br />
          <mat-checkbox
            [checked]="!apisDisabled"
            (change)="apisDisabled = !$event.checked"
            >{{
              t("dashboard.queues.match_content_by_external_api_search")
            }}</mat-checkbox
          ><br />
          <mat-checkbox
            [checked]="classifierRematch"
            (change)="classifierRematch = $event.checked"
            >{{ t("dashboard.queues.force_rematch") }}</mat-checkbox
          ><br />
          <mat-checkbox
            [checked]="orphans"
            (change)="
              orphans = $event.checked;
              contentTypes = $event.checked ? ['all'] : contentTypes
            "
            >{{
              t("dashboard.queues.process_orphaned_torrents_only")
            }}</mat-checkbox
          >
          <br />
          <mat-form-field class="select-content-types">
            <mat-label>{{ t("facets.content_type") }}</mat-label>
            <mat-select
              (selectionChange)="onContentTypeSelectionChange($event)"
              [value]="contentTypes"
              multiple
            >
              <mat-option value="all">{{ t("general.all") }}</mat-option>
              @for (contentType of allContentTypes; track contentType.key) {
                <mat-option [value]="contentType.key">
                  {{ t("content_types.plural." + contentType.key) }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </section>
      } @else if (stage === "REQUESTING") {
        <mat-spinner></mat-spinner>
      } @else if (stage === "DONE") {
        <p>{{ t("dashboard.queues.jobs_enqueued") }}</p>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      @if (stage === "PENDING") {
        <button mat-stroked-button color="warning" (click)="handleEnqueue()">
          {{ t("dashboard.queues.enqueue_jobs") }}
        </button>
      }
      <button mat-stroked-button (click)="dialogRef.close()">
        {{ t("general.dismiss") }}
      </button>
    </mat-dialog-actions>
  </mat-card>
</ng-container>
