<ng-container *transloco="let t">
  <mat-card>
    <h2 mat-dialog-title>{{ t("dashboard.queues.purge_queue_jobs") }}</h2>
    <mat-dialog-content>
      @if (stage === "PENDING") {
        <section>
          <h4>{{ t("dashboard.queues.queues") }}:</h4>
          <mat-checkbox
            value="_all"
            [checked]="queues === undefined"
            (change)="handleQueueEvent($event)"
            >{{ t("general.all") }}</mat-checkbox
          >
          @for (queue of availableQueueNames; track queue) {
            <mat-checkbox
              [value]="queue"
              [checked]="queues?.includes(queue)"
              (change)="handleQueueEvent($event)"
              >{{ queue }}</mat-checkbox
            >
          }
        </section>
        <section>
          <h4>{{ t("general.status") }}:</h4>
          <mat-checkbox
            value="_all"
            [checked]="statuses === undefined"
            (change)="handleStatusEvent($event)"
            >{{ t("general.all") }}</mat-checkbox
          >
          @for (status of statusNames; track status) {
            <mat-checkbox
              [value]="status"
              [checked]="statuses?.includes(status)"
              (change)="handleStatusEvent($event)"
              >{{ t("general.status") }}</mat-checkbox
            >
          }
        </section>
      } @else if (stage === "REQUESTING") {
        <mat-spinner></mat-spinner>
      } @else if (stage === "DONE") {
        @if (error) {
          <p>{{ t("general.error") }}: {{ error.message }}</p>
        } @else {
          <p>{{ t("dashboard.queues.queue_purged") }}</p>
        }
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        mat-stroked-button
        [disabled]="stage !== 'PENDING'"
        color="warning"
        (click)="handlePurgeJobs()"
      >
        {{ t("dashboard.queues.purge_jobs") }}
      </button>
      <button mat-stroked-button (click)="dialogRef.close()">
        {{ t("general.dismiss") }}
      </button>
    </mat-dialog-actions>
  </mat-card>
</ng-container>
